{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% comment %} <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script> {% endcomment %}
</head>
<body>
    <h2>Welcome to the Home Page</h2>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
    {% endif %}


    <br><br>
    <a href="{% url 'logout' %}">Logout</a>
    {% comment %} <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "82f8da3a-9003-4343-9db3-fd6543c32655",
                notifyButton: { enable: true },
                allowLocalhostAsSecureOrigin: true,
            });
        });
    </script> {% endcomment %}

    <script>
        if ("Notification" in window) {
            Notification.requestPermission().then(function (permission) {
                if (permission === "granted") {
                    navigator.serviceWorker.register('{% static "notifi/service-worker.js" %}')
                        .then(function (registration) {
                            registration.showNotification('Push Notification', {
                                body: '{{ push_notification_message }}',
                            });
                        });
                }
            });
        }
        function handlePushNotification(event) {
            var notificationData = event.data.json();
            
            alert("New Push Notification:\n" + JSON.stringify(notificationData));
        }
            navigator.serviceWorker.addEventListener('message', handlePushNotification);
    </script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{% static "notifi/OneSignalSDK-v16-ServiceWorker/OneSignalSDKWorker.js" %}')
                .then(function(registration) {
                    console.log('ServiceWorker registration successful with scope:', registration.scope);
                })
                .catch(function(error) {
                    console.error('ServiceWorker registration failed:', error);
                });
        }
    </script>
</body>
</html>
