{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    {% comment %} <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script> {% endcomment %}

</head>
{% comment %} <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
        OneSignal.init({
            appId: "82f8da3a-9003-4343-9db3-fd6543c32655",
            notifyButton: { enable: true },
            allowLocalhostAsSecureOrigin: true,
        });
    });
</script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{% static "notifi/OneSignalSDK-v16-ServiceWorker/OneSignalSDKWorker.js" %}')
            .then(function(registration) {
                console.log('ServiceWorker registration successful with scope:', registration.scope);
            })
            .catch(function(error) {
                console.error('ServiceWorker registration failed:', error);
            });
    }
</script> {% endcomment %}
<body>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    
</body>
</html>
